.container-fluid{
    margin: 20px;
    width: 100%;
}
h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 3rem !important;
}
.rowcontact{
    display: flex;
    padding-left: 80px;
}

.coact svg{
    font-size: 10px;
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid lightgray;
}
.coact{
    display: flex !important;
    border-radius: 2px !important;
    background-color: rgb(213, 250, 234);
    align-items: center !important;
    padding: 1rem !important;
    color: #666565;
    justify-content: space-between;
    width: 16rem;
}

.coact, p.mb-4 {
    color: #666565 !important;
    font-size: 15px;
}

textarea{
    height: 160px;
}

.btn.btn-dark{
    background-color: #00B074;
    border-color: #00B074;
    font-size: 20px;
    border: 2px solid lightgray;
    color: #000;
}
.btn.btn-dark:hover{
    background-color: #07ae76;
    border-color: #00B074;
    color: #fff;
}

.mapouter{
    position:relative;
    text-align:right;
    width:570px;
    height:500px;
    margin: 25px;
    margin-left: 80px;

}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:570px;
    height:500px;
}

.gmap_iframe {
    width:570px!important;
    height:500px!important;
}
